<div id="todo-conteudo" class="container" style="margin-top: 100px;">
        <form [formGroup]="filtro">
                <div class="row">
                        <div class="col-sm-3">
                                <label>Área</label>
                                <select class="form-control" id="ddlArea" (change)="filtrar($event)"  formControlName="area">
                                        <option>Todas</option>
                                        <option>Administrativo</option>
                                        <option>Comercial</option>
                                        <option>Financeiro</option>
                                        <option>Operacional</option>
                                        <option>Recursos Humanos</option>
                                        <option>TI</option>
                                </select>
                        </div>
                        <div class="col-sm-3">
                                <label>Status</label>
                                <select class="form-control" id="ddlStatus" (change)="filtrar($event)"  formControlName="status">
                                        <option>Todos</option>
                                        <option>Rascunho</option>
                                        <option>Aguardando Aprovação</option>
                                        <option>Aprovada</option>
                                        <option>Reprovada</option>
                                </select>
                        </div>
                </div>
        </form>
        <app-cards></app-cards>
        <app-grafico-crescimento></app-grafico-crescimento>
        <div *ngIf="itensPropostaCache !== undefined">
                <app-grafico-setor [itensPropostaCache]=itensPropostaCache></app-grafico-setor>
        </div>
        <app-grafico-linhas></app-grafico-linhas>
        <app-listagem></app-listagem>
        <!-- <router-outlet></router-outlet> -->
</div>