<div id="todo-conteudo" class="container" style="margin-top: 30px; margin-bottom: 50px;">
  <dx-data-grid
    id="gridContainer"
    [dataSource]="propostas"
    [allowColumnReordering]="true"
    [showBorders]="true"
    [noDataText]="''">

    <dxi-column dataField="id" caption="ID" width="60px" cellTemplate="link"></dxi-column>
    <dxi-column dataField="titulo" caption="Título"></dxi-column>
    <dxi-column dataField="area" caption="Área"></dxi-column>
    <dxi-column dataField="status" caption="Situação" [groupIndex]="0"></dxi-column>
    <dxi-column dataField="valorTotal" caption="Total">
      <dxo-format type="currency" [precision]="2"></dxo-format>
    </dxi-column>

    <dxo-search-panel [visible]="true" [placeholder]="'Pesquisar'"></dxo-search-panel>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>

    <div *dxTemplate="let l of 'link'">
      <a href="http://localhost:4200/proposta/{{l.value}}">{{ l.value }}</a>
    </div>
  </dx-data-grid>
</div>

