<div id="todo-conteudo" class="container" style="margin-top: 30px; margin-bottom: 50px;">
  <dx-data-grid
    id="gridContainer"
    [dataSource]="propostas"
    [allowColumnReordering]="true"
    [showBorders]="true">

    <dxi-column dataField="id" caption="ID" width="60px"></dxi-column>
    <dxi-column dataField="titulo" caption="Título"></dxi-column>
    <dxi-column dataField="area" caption="Área"></dxi-column>
    <dxi-column dataField="status" caption="Situação" [groupIndex]="0"></dxi-column>
    <dxi-column dataField="valorTotal" caption="Total" format="currency"></dxi-column>

    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
  </dx-data-grid>
</div>

