<div id="chart-demo" style="margin-top: 50px;">
    <dx-pie-chart id="pie" title="Propostas por Área" palette="Soft Pastel" [dataSource]="dataSource">
        <dxi-series argumentField="setor">
            <dxo-label [visible]="true">
                <dxo-connector [visible]="true" [width]="1"></dxo-connector>
            </dxo-label>
        </dxi-series>
        <dxo-export [enabled]="true"></dxo-export>
        <dxo-legend [margin]="0" horizontalAlignment="right" verticalAlignment="top">
        </dxo-legend>
        <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip">
        </dxo-tooltip>
        <dxo-tooltip [enabled]="true" contentTemplate="content">
        </dxo-tooltip>
        <dxo-size [height]="380" [width]="500"></dxo-size>
        <div *dxTemplate="let info of 'content'" class='state-tooltip'>
            <div>
                Area: {{ info.argument }}
            </div>
            <div>
                Valor: {{ info.value}} %
            </div>
        </div>
    </dx-pie-chart>
</div>