.menu {
    background: #B3EBF2;
}
.navbar-light .navbar-brand{
    font-size: 40px;
    color: #475e60;
}

.nav-link {
    color:  #a3aeaf
}

.nav-link:hover{
    color: #FFF
}


.active {
    color: #475e60;
}

nav {
    background-color: white;
}
.container {
    width: calc( 100% );
    max-width: calc( 100% );
}