<div class="fixed-top">
  <nav class="navbar navbar-light bg-faded">
    <div class="container">
      <div class="row">
        <a class="navbar-brand" routerLink="">
          <img src="/assets/logo.png" />
          <span class="span-top">App Financeiro</span>
        </a>
      </div>
    </div>
    <div class="menu" style="width: 100%;">
        <div class="novo-container">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/proposta">Proposta</a>
            </li>
          </ul>
        </div>
      </div>
  </nav>
</div>