.card{
  border-radius: border-radius-extreme;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  background-color: rgb(240, 240, 240);
  color: card-black-color;
  margin-bottom: 20px;
  position: relative;
  border: 0 none;
}

.card-body{
  padding: 10px 8px 5px 8px;
}

.card-body .card-title {
  color: rgb(151, 151, 151);
  font-size: 16px;
  line-height: 1.4em;
}

.card-body .icon-big {
  font-size: 3em;
  min-height: 64px;
}

.card-body i{
  line-height: 59px;
}

.h1-card{
    font-size: 60px;
    align-content: center !important;
    margin-left: 40%;
}

.card-footer{
  background-color: transparent;
  border: 0;
}

.card-footer .valor{
  color: rgb(151, 151, 151);
  font-size: 12px;
  line-height: 0.2em;
}

.card-footer .stats i{
  margin-right: 5px;
  position: relative;
  top: 0px;
  color: default-color;
}
