<div class="row">
    <div class="col-sm-3">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <h1 class="card-title h1-card">3</h1>
                <p class="card-text p-card">Em Rascunho</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-body">
                    <h1 class="card-title h1-card">2</h1>
                    <p class="card-text p-card">Aprovadas</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-body">
                    <h1 class="card-title h1-card">1</h1>
                    <p class="card-text p-card">Recusadas</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-body">
                    <h1 class="card-title h1-card">3</h1>
                    <p class="card-text p-card" style="display:inline">Pendente</p>
            </div>
        </div>
    </div>
</div>