<div class="row" style="margin-top: 150px;">
    <div class="col-sm-3">
        <div class="card card-stats mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-globe text-warning"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <p class="card-title">Em Rascunho</p>
                    <h1 class="card-text h1-card">{{propostasRascunho }}</h1>
                  </div>
              </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card card-stats mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-globe text-warning"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <p class="card-title">Aprovadas</p>
                    <h1 class="card-text h1-card">{{propostasAprovadas }}</h1>
                  </div>
              </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card card-stats mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-globe text-warning"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <p class="card-title">Recusadas</p>
                    <h1 class="card-text h1-card">{{propostasRecusadas}}</h1>
                  </div>
              </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card card-stats mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-globe text-warning"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <p class="card-title">Aguardando Aprovação</p>
                    <h1 class="card-text h1-card">{{propostasAguardandoAprovacao}}</h1>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
