<div class="container" style="margin-top: 120px;" >
  <form [formGroup]="formulario" novalidate (ngSubmit)="salvarProposta()">
    <div class="form-group">
      <h2>Proposta</h2>
      <label>Título</label>
      <input type="text" class="form-control" id="txtTitulo" placeholder="Título da proposta" 
      formControlName="titulo"  [(ngModel)] = 'proposta.titulo'>
    </div>
    <div class="form-group">
      <label>Descrição</label>
      <textarea class="form-control" id="txtDescricao" rows="3" placeholder="Descrição da proposta" 
      formControlName="descricao" [(ngModel)] = 'proposta.descricao'></textarea>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-3">
          <label>Área</label>
          <select class="form-control" id="ddlArea" formControlName="area" [(ngModel)] = 'proposta.area'>
            <option>Administrativo</option>
            <option>Comercial</option>
            <option>Financeiro</option>
            <option>Operacional</option>
            <option>Recursos Humanos</option>
            <option>TI</option>
          </select>
        </div>
        <div class="col-sm-3">
          <label>Data de Início</label>
          <dx-date-box id="selected-date" class="form-control" width="100%" 
          formControlName="dataInicio" [(ngModel)] = 'proposta.dataInicio'
          ></dx-date-box>
        </div>
        <div class="col-sm-3">
          <label>Data de Término</label>
          <dx-date-box id="selected-date" class="form-control" width="100%" 
          formControlName="dataTermino" [(ngModel)] = 'proposta.dataTermino'></dx-date-box>
        </div>
        <div class="col-sm-3">
          <label>Status</label>
          <select class="form-control" id="ddlStatus" formControlName="status" 
          [(ngModel)] = 'proposta.status'>
            <option>Rascunho</option>
            <option>Aguardando Aprovação</option>
            <option>Aprovado</option>
            <option>Reprovado</option>
          </select>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn">Salvar</button>
  </form>
</div>
