<div id="chart-demo">
    <dx-chart title="Investimento por Área" palette="Harmony Light" [dataSource]="areasData">
        <dxi-series valueField="operacional" name="Operacional"></dxi-series>
        <dxi-series valueField="comercial" name="Comercial"></dxi-series>
        <dxi-series valueField="financeiro" name="Financeiro"></dxi-series>
        <dxi-series valueField="infraestrutura" name="Infraestrutura"></dxi-series>
        <dxo-common-series-settings #commonSeries argumentField="periodo" type="stackedarea">
        </dxo-common-series-settings>
        <dxo-margin [bottom]="20"></dxo-margin>
        <dxo-argument-axis [valueMarginsEnabled]="false"></dxo-argument-axis>
        <dxo-export [enabled]="true"></dxo-export>
        <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
        </dxo-legend>
        <dxo-tooltip [enabled]="true" contentTemplate="content">
        </dxo-tooltip>
        <div *dxTemplate="let info of 'content'" class='state-tooltip'>
            <div>
                Período: {{ info.argument }}
            </div>          
            <div>
                Area: {{ info.seriesName }}
            </div>
            <div>
                Valor: {{ info.value | currency:'BRL' }}
            </div>
        </div>
    </dx-chart>
</div>